# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local configuration
*.local

# Dependencies & Build Outputs
node_modules/
dist/
/dump/

# Portable Android Environment binaries
/.local-env/
